{:deps    {org.clojure/clojurescript {:mvn/version "1.10.238"}
           :reagent                  {:mvn/version "0.8.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {doo {:mvn/version "0.1.10"}}
                  :main-opts ["-m" "cljs-hi.main"]}}}
